{% extends "portfolio/base.html" %} {% load static %} {% block content %}

<div class="row justify-content-center mb-3">
    <div class="col-md-9 text-center">
    </div>
</div>

<div class="row justify-content-center my-3">
    <div class="col-5">
    </div>
</div>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <main>
        <div class="box1">
            <p>248 808 2790 </p>
            <p>jlawless37@gmail.com</p>
        </div>
        <div class="box2">
            <h2>Tutoring Services</h2>
            <p>
                Lawless Language Arts is a tutoring service that has been established for over fifteen years. Our students are located from Michigan to California, aged pre-K to adults.<br>
                The focus of our tutoring is generally English and Language Arts, but we offer expertise in ACT and SAT preparation in both the English and Science sections of the tests, AP test, college entry assistance, English as a Second Language, teaching early reading and writing, and business and career communications.<br>
                Our students have been successful in increasing school grades, developing language skills, raising ACT and SAT scores, gaining college acceptance to preferred schools, and winning scholarships and writing awards.
                We work one-on-one, in person and remotely with students and focus on areas that need improvement. We always go the extra mile for achievement and encourage students to build their strengths. In the process, we have fun and enjoy learning.
            </p>
        </div>
        <div class="box3">
            <h2>About Me</h2>
            <p>
              Ms. Janet Lawless, M.A. has over twenty years of teaching experience, teaches college English and private school English classes, and is a published author of both news articles and creative work. Her experience has made her very familiar with K-12 and college ELA curriculum and ACT, SAT, English AP, and other standardized tests. She has a passion for teaching and students, and the growth of her tutoring services is one of her proudest accomplishments.

            </p>
        </div>
        <div class="box4">
            <h2>Questions</h2>
            <form>
                <div class="container">
                  <label for="email"><b>Name</b></label>
                  <input type="text" placeholder="Name: " name="name" required>
              
                  <label for="psw"><b>Email</b></label>
                  <input type="text" placeholder="Email: " name="email" required>
              
                  <label for="psw-repeat"><b>Question</b></label>
                  <input type="text" placeholder="Question: " name="password" required>
                  <div class="clearfix">
                    <button type="submit" class="signupbtn">Ask Question</button>
                  </div>
                </div>
              </form>              
        </div>
        <div class="box5">
          <div class="cont">
            <ul class="contact">
              <li style="text-align: left;">
                <p><i class="fa fa-map-marker fa-3x"></i></p>
                <p><strong>Lorem Ipsum Ltd.</strong></br>Random str. 8, Pellenstique</p>
              </li>
              <li style="text-align: left;">
                <p><i class="fa fa-phone fa-3x"></i></p>
                <p><strong>Phone</strong></br>00 55 (20) 3334 4444</p>
              </li>
              <li style="text-align: left;">
                <p><i class="fa fa-envelope fa-3x"></i></p>
                <p><strong>Email</strong></br>office@loremipsum.com</p>
              </li>
            </ul>
          </div>
        </div>
    </main>
</body>
</html>
<h2 class="mt-5">Assignments</h2>
<div></div>
<hr>
<div class="row">
    {% for project in projects %}
    <div class="col-lg-4 col-md-6">

        {% if project.url %}
        <a href="{{ project.url }}">
            <img src="{{ project.image.url }}" class="img-fluid mb-2">
        </a>
        {% else %}

        <img src="{{ project.image.url }}" class="img-fluid mb-2"> {% endif %}
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>

    </div>
    {% endfor %}
</div>

{% endblock %}